# GCP
GCP_PROJECT_ID=your-gcp-project-id
GOOGLE_APPLICATION_CREDENTIALS=path/to/service-account.json

# GCS
GCS_ECOMMERCE_BUCKET=your-ecommerce-bucket

# BigQuery
BQ_RAW_DATASET=ecommerce_raw
BQ_DBT_DATASET=ecommerce_mart